// Global
$text: #e1e1e1;
$od-bg-l: #272c33;
$od-bg-d: #20252b;
$od-accent: #00a65c;
$od-shadow: #000a;
$border: #383f4a;

// Global

// scrollbar
$scrollbar: #4e5666;
$scrollbar_hover: #5a6375;
$scrollbar_active: #747d91;

// General
$accent_color: $od-accent;
$radius: 10px;

// Panel
$panel_bg: $od-bg-l;
$panel_fg: $text;

// Clutter background colors
$bg_color: $od-bg-l; // Taskbar top border
// Tray Icons Hover Background and app item focus
// cinnamenu scroll and hover bg
$bg_color2: transparentize($od-accent, 0.8);
$bg_color3: transparentize($od-accent, 0.8); // power options background
$bg_color4: #ff00ff;

// Borders and separators
$borders_color: $border;
$menus_border_color: #0000; // cinnamenu hover border
$shadow_color: #000a;
$separator_color: $border;
// Text
$text_color: $text;
$fg_color: $text;
$noaccent_selected_fg_color: $text;
$selected_fg_color: $text;

$link_color: $od-accent;

$warning_color: #cd9731;
$error_color: #f44747;
$destructive_color: #d65737;
$osd_destructive_color: #d65737;

$insensitive_fg_color: transparentize($text, 0.3);

$tooltip_bg_color: #272C33;
$tooltip_fg_color: $text;
$tooltip_border_color: #0000ff;

$osd_fg_color: #0000ff;
$osd_bg_color: #0000ff;

$osd_button_bg: #0000ff;
$osd_button_border: #0000ff;

$osd_entry_bg: #0000ff;
$osd_entry_border: #0000ff;

$osd_insensitive_fg_color: #0000ff;

$entry_bg: $panel_bg;
$entry_border: $border;

$button_bg: #0000ff;
$button_border: #0000ff;

$applet_separator_color: #0000ff;

$corner_bar_unhighlighted: #0000ff;
$corner_bar_highlighted: #0000ff;
