// Global
$od-text: #e1e1e1;
$od-bg-l: #272c33;
$od-bg-d: #20252b;
$od-accent: #00a65c;
$od-shadow: #000a;
$od-border: #383f4a;

$UNKNOWN: #ff1234;
// Global

// General
$accent_color: $od-accent;
$radius: $UNKNOWN;

// Panel
$panel_bg: $od-bg-l;
$panel_fg: $od-text;

// Clutter background colors
$bg_color: #20252b; // Taskbar top border
// Tray Icons Hover Background and app item focus
// cinnamenu scroll and hover bg
$bg_color2: transparentize($od-accent, 0.8);
$bg_color3: #0f0;
$bg_color4: #ff0;

// Borders and separators
$borders_color: $od-border;
$menus_border_color: #272c33; // Window peek border color
$shadow_color: #000a;
$separator_color: $UNKNOWN;
// Text
$text_color: $od-text;
$fg_color: $od-text;
$noaccent_selected_fg_color: $od-text;
$selected_fg_color: $od-text;

$link_color: $UNKNOWN;

$warning_color: #cd9731;
$error_color: #f44747;
$destructive_color: $UNKNOWN;
$osd_destructive_color: $UNKNOWN;

$insensitive_fg_color: #0f0;

$tooltip_bg_color: $UNKNOWN;
$tooltip_fg_color: $UNKNOWN;
$tooltip_border_color: $UNKNOWN;

$osd_fg_color: $UNKNOWN;
$osd_bg_color: $UNKNOWN;

$osd_button_bg: $UNKNOWN;
$osd_button_border: $UNKNOWN;

$osd_entry_bg: $UNKNOWN;
$osd_entry_border: $UNKNOWN;

$osd_insensitive_fg_color: $UNKNOWN;

$entry_bg: $UNKNOWN;
$entry_border: $UNKNOWN;

$button_bg: $UNKNOWN;
$button_border: $UNKNOWN;

$applet_separator_color: $UNKNOWN;

$corner_bar_unhighlighted: $UNKNOWN;
$corner_bar_highlighted: $UNKNOWN;
