// Global
$od_text: #e1e1e1;
$od-bg-d: #20252b;
$od-bg-l: #272c33;
$od_accent: #00a65c;
$od_shadow: #000a;

$UNKNOWN: #ff1234;
// Global

$light_tint: $UNKNOWN;
$dark_tint: #ff00ff;
$base_color: $od-bg-l;

$text_color: $od_text;
$bg_color: $od-bg-d;
$fg_color: $text_color;
$selected_bg_color: #ff00ff;
$selected_fg_color: #ff00ff;
$selected_borders_color: #ff00ff;
$borders_color: #ff00ff;
$separator_color: #ff00ff;
$link_color: #ff00ff;
$link_visited_color: #ff00ff;
$selection_mode_bg: #ff00ff;
$selection_mode_fg: #ff00ff;
$warning_color: #ff00ff;
$warning_fg_color: #ff00ff;
$error_color: #ff00ff;
$error_fg_color: #ff00ff;
$success_color: #ff00ff;
$destructive_color: #ff00ff;
$suggested_color: #ff00ff;
$question_color: #ff00ff;
$drop_target_color: #ff00ff;
//insensitive state derived colors
$insensitive_fg_color: #ff00ff;
$insensitive_bg_color: #ff00ff;
$dim_label_fg_color: #ff00ff;
$header_bg: #00ff00;
$header_bg_backdrop: #ff00ff;
$header_border: #ff00ff;
$header_highlight: #ff00ff;
$header_fg: #ff00ff;
$menu_selected_bg_color: #ff00ff;
$dark_sidebar_bg: #ff00ff;
$dark_sidebar_fg: #ff00ff;
$dark_sidebar_border: #ff00ff;
$filechooser_bg: #ff00ff;
$tooltip_bg_color: #ff00ff;
$tooltip_fg_color: #ff00ff;
$osd_fg_color: #00ffff;
$osd_bg_color: #00ffff;
$osd_button_bg: #00ffff;
$osd_button_border: #00ffff;
$osd_entry_bg: #00ffff;
$osd_entry_border: #00ffff;
$osd_insensitive_bg_color: #00ffff;
$osd_insensitive_fg_color: #00ffff;
$osd_borders_color: #00ffff;
$panel_bg: #ff00ff;
$panel_fg: #00a65c;
$entry_bg: #ff00ff;
$entry_border: #ff00ff;
$header_entry_bg: #ff00ff;
$header_entry_border: #ff00ff;
$button_bg: #ff00ff;
$button_border: #ff00ff;
$button_active_bg: #ff00ff;
$button_active_border: #ff00ff;
$header_button_bg: #ff00ff;
$header_button_border: #ff00ff;
$trough_color_treeview: #ff00ff;
$trough_color: #ff00ff;

// WM Colors

$wm_title: #00ff00;
$wm_title_unfocused: #00ff00;
$wm_bg: #00ff00;
$wm_bg_unfocused: #00ff00;
$wm_highlight: #00ff00;
$wm_border: #00ff00;
$wm_border_unfocused: #00ff00;

//WM Buttons

// Close
$wm_button_close_bg: #00ff00;
$wm_button_close_hover_bg: #00ff00;
$wm_button_close_active_bg: #00ff00;

$wm_icon_close_bg: #00ff00;

// Minimize, Maximize
$wm_button_hover_bg: #00ff00;
$wm_button_active_bg: #00ff00;

$wm_icon_bg: #00ff00;
$wm_icon_unfocused_bg: #00ff00;
$wm_icon_hover_bg: #00ff00;
$wm_icon_active_bg: #00ff00;

// Terminal color
$terminal_bg: #00ff00;
